In [1]:
import pandas as pd

In [2]:
dave_rubin_df= pd.read_csv('comments_daverubin.csv')

## Data exploration

In [4]:
dave_rubin_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2349 entries, 0 to 2348
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Video ID  2349 non-null   object
 1   User ID   2349 non-null   object
 2   Comment   2349 non-null   object
dtypes: object(3)
memory usage: 55.2+ KB

In [5]:
#insights: 2349 entries

In [6]:
dave_rubin_df.head()

,Video ID,User ID,Comment
0,72-qe4OjCj0,UCNof21NSbSlN-SrlDCF6J9A,Hi Elon ü§≠
1,72-qe4OjCj0,UCnai_-MoFipOwzEQ1J4nC0Q,The epitome of don&#39;t believe your eyes. Be...
2,72-qe4OjCj0,UCwfGjmTIZsYAIVXZnREEO6w,Why even bother inviting cnn to their eventsü§¶üèΩ
3,72-qe4OjCj0,UCOwh8PeJGkIeO0KwpbHDzmA,I will never watch your video after you defen...
4,72-qe4OjCj0,UCjhXXGM4KpJofZBSYId_zLA,please go ahead and post your adress i have a ...

## Data Cleaning

In [8]:
dave_rubin_df.isnull().sum()

Video ID    0
User ID     0
Comment     0
dtype: int64

In [9]:
dave_rubin_df.duplicated().sum()

4

In [10]:
dave_rubin_df =dave_rubin_df.drop_duplicates(subset=["Comment", "User ID"], keep="first")

In [11]:
dave_rubin_df.duplicated().sum()

0

In [12]:
dave_rubin_df.shape

(2345, 3)

In [13]:
dave_rubin_df.columns = dave_rubin_df.columns.str.strip()

In [14]:
#resetting index from 1 
dave_rubin_df.index =dave_rubin_df.index + 1

In [15]:
dave_rubin_df.head()

,Video ID,User ID,Comment
1,72-qe4OjCj0,UCNof21NSbSlN-SrlDCF6J9A,Hi Elon ü§≠
2,72-qe4OjCj0,UCnai_-MoFipOwzEQ1J4nC0Q,The epitome of don&#39;t believe your eyes. Be...
3,72-qe4OjCj0,UCwfGjmTIZsYAIVXZnREEO6w,Why even bother inviting cnn to their eventsü§¶üèΩ
4,72-qe4OjCj0,UCOwh8PeJGkIeO0KwpbHDzmA,I will never watch your video after you defen...
5,72-qe4OjCj0,UCjhXXGM4KpJofZBSYId_zLA,please go ahead and post your adress i have a ...

## saving data to CSV for sentiment analysis exploration

In [17]:
dave_rubin_df = dave_rubin_df.to_csv('dave_rubin.csv')