<div style="background-color: lightblue; padding: 10px; border-radius: 5px;">
<p style="font-size: 24px;">Loading Data.</p>

In [2]:
import pandas as pd

In [3]:
guardian_clean= pd.read_csv('comments_guardian.csv')

<div style="background-color: lightblue; padding: 10px; border-radius: 5px;">
<p style="font-size: 24px;">Exploring Data</p>

In [5]:
guardian_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 586 entries, 0 to 585
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Video ID  586 non-null    object
 1   User ID   586 non-null    object
 2   Comment   586 non-null    object
dtypes: object(3)
memory usage: 13.9+ KB

In [6]:
## insights - 586entries

In [7]:
guardian_clean.head()

,Video ID,User ID,Comment
0,smQNNo2a9xc,UCRhkbGiqgv5zCMRxEgqMuLg,How dare he insult me!?
1,smQNNo2a9xc,UCPku8QF3YL-QkfiM4dY-RQw,i think the guy is just legitimately autistic ...
2,smQNNo2a9xc,UClwrjjaPljMvGMBVAsmfJuw,I see nothing wrong
3,smQNNo2a9xc,UCbf_i1Wm64npQDvMOlWffDw,The reglme this is it.
4,smQNNo2a9xc,UCOHEMOYwtycqRGD4KsiMLgA,People acting like they would rather Kamala Ha...

<div style="background-color: lightblue; padding: 10px; border-radius: 5px;">
<p style="font-size: 24px;">Cleaning Data</p>

In [9]:
guardian_clean.isnull().sum()

Video ID    0
User ID     0
Comment     0
dtype: int64

In [10]:
guardian_clean.duplicated().sum()

1

In [11]:
guardian_clean = guardian_clean.drop_duplicates(subset=["Comment", "User ID"], keep="first")

In [12]:
#resetting index from 1
guardian_clean.index= guardian_clean.index +1

In [13]:
guardian_clean['Video ID'] = guardian_clean['Video ID'].replace('smQNNo2a9xc', 'guardian')

In [14]:
guardian_clean.sample(2)

,Video ID,User ID,Comment
382,guardian,UCa1R6NjEoX_wnTkia96G64A,I salute this Man...ðŸ‘‹
509,guardian,UCAGwqg2tTKMQ9UFNrQCEC2g,So a side ways Usain bolt gesture is now facis...

<div style="background-color: lightblue; padding: 10px; border-radius: 5px;">
<p style="font-size: 24px;">Saving Clean Data to CSV for Sentiment Analysis</p>

In [27]:
guardian_clean = guardian_clean.to_csv('guardian.csv')